<div class="product-form">
  <div class="card">
    <h1>{{ isEditMode ? 'Edit Product' : 'Add New Product' }}</h1>
    <form (submit)="saveProduct()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          id="name"
          type="text"
          [(ngModel)]="product.name"
          name="name"
          required
        />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea
          id="description"
          [(ngModel)]="product.description"
          name="description"
          required
        ></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input
          id="price"
          type="number"
          [(ngModel)]="product.price"
          name="price"
          required
          min="0"
        />
      </div>
      <button type="submit">
        {{ isEditMode ? 'Update' : 'Create' }} Product
      </button>
    </form>
  </div>
</div>
